body
{
background:url(home-bg.jpg);
background-attachment:fixed;
height:768px;
margin:-0.6%;
width:100.6%;
}
form
{
position:absolute;
height:90%;
width:50%;
left:50%;
}
fieldset
{
background-color:#cccccc;
position:absolute;
top:18%;
height:70%;
width:90%;
border-color:#cccccc;
box-shadow: 10px 10px 10px #888888;
color:#333333;
behavior: url(PIE.htc);
}
label:nth-of-type(1)
{
top:40%;
position:absolute;
font-family:Cooper Black;
font-size:200%;
color:#333333;
left:15%;
}
label:nth-of-type(2)
{
top:60%;
position:absolute;
font-family:Cooper Black;
font-size:200%;
color:#333333;
left:15%;
}
input:nth-of-type(1)
{
position:absolute;
left:50%;
top:40%;
height:10%;
width:35%;
border-radius:10px;
}
input:focus
{
border-radius:10px;
border-color:#3399cc;
outline:none;
}
input:nth-of-type(2)
{
position:absolute;
left:50%;
top:60%;
height:10%;
width:35%;
border-radius:10px;
}
#submit
{ 
position:absolute;
top:80%;
left:65%;
width:20%;
height:10%;
font-family:Cooper Black;
font-size:100%;
color:#ffffff;
border-radius:10px;
border-color:#3399cc;
background-color:#3399cc;
behavior: url(PIE.htc);
}
#err
{
top:65%;
position:absolute;
font-family:Cooper Black;
font-size:100%;
color:#333333;
z-index:4;
left:65%;
}
#submit:hover
{ 
position:absolute;
top:80%;
left:65%;
width:20%;
height:10%;
font-family:Cooper Black;
font-size:100%;
color:#ffffff;
border-radius:10px;
border-color:#333333;
background-color:#333333;
cursor:pointer;
behavior: url(PIE.htc);
}
h1,h2,h3
{
top:18%;
position:absolute;
font-family:Cooper Black;
font-size:300%;
color:#333333;
left:5%;
z-index:2;
}
h2,h3
{
top:28%;
font-size:100%;
left:15%;
}
h3
{
top:38%;
}
span
{
position:relative;
left:30%;
}
#logo
{
top:30%;
position:absolute;
left:25%;
z-index:2;
-webkit-animation:animate_logo 0.5s;
animation:animate_logo 1s;
}
@-webkit-keyframes animate_logo
{
0% { left:0%;}
10% {left:3%;}
20% {left:6%;}
30% {left:9%;}
40% {left:12%;}
50% {left:15%;}
60% {left:18%;}
70% {left:21%;}
80% {left:24%;}
90% {left:27%;}
100%  {left:30%;}
}
div
{
cursor:pointer;
}
#stud p
{
top:15%;
position:absolute;
font-family:Cooper Black;
font-size:200%;
color:#333333;
left:55%;
z-index:2;
}
#stud img
{
top:24%;
position:absolute;
left:55%;
z-index:2;
}
#teach p
{
top:15%;
position:absolute;
font-family:Cooper Black;
font-size:200%;
color:#333333;
left:75%;
z-index:2;
}
#teach img
{
top:24%;
position:absolute;
left:75%;
z-index:2;
}
#log_image
{
top:76%;
position:absolute;
left:55%;
z-index:2;
}
header
{
background-color:#333333;
position:absolute;
height:12%;
width:100%;
left:0%;
top:0%;
z-index:1;
box-shadow: 5px 5px 5px #666666;
behavior: url(PIE.htc);
}
#name
{
position:absolute;
left:1.5%;
top:35%;
font-size:150%;
width:50%;
color:#ffffff;
font-family:Cooper Black;
}
header p:nth-of-type(1)
{
top:2%;
position:absolute;
font-family:Cooper Black;
font-size:150%;
color:#ffffff;
left:80%;
z-index:2;
}
#ad_image
{
position:absolute;
left:75%;
}
footer
{
background-color:#cc9999;
position:fixed;
height:8%;
width:100%;
left:0%;
bottom:0%;
z-index:4;
box-shadow: 0px 5px 5px #666666 inset;
behavior: url(PIE.htc);
}
#foot
{
position:absolute;
left:50%;
top:-90%;
}

#fp1
{
position:absolute;
left:2%;
top:0%;
color:#ffffff;
font-size:100%;
font-family:Cooper Black;
}
#fp2
{
position:absolute;
left:50%;
top:-10%;
color:#ffffff;
font-size:100%;
font-family:Cooper Black;
}