body
{
background:url(home-bg.jpg);
background-attachment:fixed;
height:720px;
margin:-0.6%;
width:100.6%;
}
#date
{
top:0%;
position:absolute;
font-family:Cooper Black;
font-size:100%;
color:#ffffff;
background-color:#333333;
z-index:4;
left:65%;
}
select:nth-of-type(1)
{
position:absolute;
top:20%;
left:20%;
z-index:2;
}
select:nth-of-type(2)
{
position:absolute;
top:20%;
left:35%;
z-index:2;
}
form
{
position:absolute;
top:0%;
height:95%;
width:90%;
left:10%;
}
fieldset
{
background-color:#cccccc;
position:absolute;
top:18%;
height:70%;
width:90%;
border-color:#cccccc;
box-shadow: 10px 10px 10px #888888;
color:#333333;
behavior: url(PIE.htc);
}
/* label:nth-of-type(1)
{
top:40%;
position:absolute;
font-family:Cooper Black;
font-size:200%;
color:#333333;
left:15%;
}
label:nth-of-type(2)
{
top:60%;
position:absolute;
font-family:Cooper Black;
font-size:200%;
color:#333333;
left:15%;
}
*/
/* input:nth-of-type(1)
{
position:absolute;
left:50%;
top:40%;
height:10%;
width:35%;
border-radius:10px;
}
input:nth-of-type(2)
{
position:absolute;
left:50%;
top:60%;
height:10%;
width:35%;
border-radius:10px;
}  */
table
{
position:absolute;
top:10%;
width:100%;
}
#submit
{ 
position:absolute;
top:20%;
left:45%;
font-family:Cooper Black;
font-size:100%;
color:#ffffff;
border-radius:10px;
border-color:#3399cc;
background-color:#3399cc;
behavior: url(PIE.htc);
z-index:2;
}
#submit:hover
{ 
position:absolute;
top:20%;
left:45%;
z-index:2;
font-family:Cooper Black;
font-size:100%;
color:#ffffff;
border-radius:10px;
border-color:#333333;
background-color:#333333;
cursor:pointer;
behavior: url(PIE.htc);
}
#reset
{ 
position:absolute;
top:20%;
left:55%;
z-index:2;
font-family:Cooper Black;
font-size:100%;
color:#ffffff;
border-radius:10px;
border-color:#3399cc;
background-color:#3399cc;
behavior: url(PIE.htc);
}
#reset:hover
{ 
position:absolute;
top:20%;
left:55%;
z-index:2;
font-family:Cooper Black;
font-size:100%;
color:#ffffff;
border-radius:10px;
border-color:#333333;
background-color:#333333;
cursor:pointer;
behavior: url(PIE.htc);
}
#logout
{ 
position:absolute;
top:20%;
left:65%;
z-index:2;
font-family:Cooper Black;
font-size:100%;
color:#ffffff;
border-radius:10px;
border-color:#3399cc;
background-color:#3399cc;
behavior: url(PIE.htc);
}
#logout:hover
{ 
position:absolute;
top:20%;
left:65%;
z-index:2;
font-family:Cooper Black;
font-size:100%;
color:#ffffff;
border-radius:10px;
border-color:#333333;
background-color:#333333;
cursor:pointer;
behavior: url(PIE.htc);
}
#send
{ 
position:absolute;
top:20%;
left:75%;
z-index:2;
font-family:Cooper Black;
font-size:100%;
color:#ffffff;
border-radius:10px;
border-color:#3399cc;
background-color:#3399cc;
behavior: url(PIE.htc);
}
#send:hover
{ 
position:absolute;
top:20%;
left:75%;
z-index:2;
font-family:Cooper Black;
font-size:100%;
color:#ffffff;
border-radius:10px;
border-color:#333333;
background-color:#333333;
cursor:pointer;
behavior: url(PIE.htc);
}
p:nth-of-type(1)
{
top:85%;
position:absolute;
font-family:Cooper Black;
font-size:100%;
color:#333333;
z-index:4;
left:15%;
float:left;
}
p:nth-of-type(2)
{
top:85%;
position:absolute;
font-family:Cooper Black;
font-size:100%;
color:#333333;
z-index:4;
left:25%;
float:left;
}
h1
{
top:18%;
position:absolute;
font-family:Cooper Black;
font-size:300%;
color:#333333;
left:5%;
z-index:2;
}

header
{
background-color:#333333;
position:absolute;
height:12%;
width:100%;
left:0%;
top:0%;
z-index:1;
box-shadow: 5px 5px 5px #666666;
behavior: url(PIE.htc);
}
#p4
{
top:18%;
position:absolute;
font-family:Cooper Black;
font-size:100%;
color:#ffffff;
left:85%;
z-index:2;
}
#name
{
position:absolute;
left:1.5%;
top:35%;
font-size:150%;
width:50%;
color:#ffffff;
font-family:Cooper Black;
}
header p:nth-of-type(1)
{
top:2%;
position:absolute;
font-family:Cooper Black;
font-size:150%;
color:#ffffff;
left:80%;
z-index:2;
}
#ad_image
{
position:absolute;
left:75%;
}
footer
{
background-color:#cc9999;
position:fixed;
height:8%;
width:100%;
left:0%;
bottom:0%;
z-index:4;
box-shadow: 0px 5px 5px #666666 inset;
behavior: url(PIE.htc);
}
#foot
{
position:absolute;
left:50%;
top:-90%;
}

#fp1
{
position:absolute;
left:2%;
top:0%;
color:#ffffff;
font-size:100%;
font-family:Cooper Black;
}
#fp2
{
position:absolute;
left:50%;
top:-10%;
color:#ffffff;
font-size:100%;
font-family:Cooper Black;
}